<!DOCTYPE html>
<head>
<title>ACM 412 PROJECT</title>
<meta name="viewport" author="keremaltun-kemalcelikel">
<style>
.h3{
    text-align: center;
    color:rgb(0, 0, 0);
 }   
.ul{
    height: auto;
    color:#00ffff;
    text-align: center;
}

</style>
</head>
<body>
<h3 >Also,We Can Use Django And Rest Framework,Javascript and React </h3>
<div>
    <li> Chatnivo Application provides you with an interface panel to form chat.Also,Forming Chat Panel which differs from two types that are global and private.A global type includes every users who are member in Chatnivo.So,a private type presents us with selecting friends or colleagues who are also do authentication operation,too.
</li>
</p>

 
</div>
</body>
</html>